.home {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    z-index: 5;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	.chip {
		margin: 4;
	}
    .response {
        text-align: center;
    }
}
